huggingface-hub==0.24.5
matplotlib==3.7.1
nltk==3.8.1
numpy==1.24.1
nvidia-cuda-runtime-cu12==12.6.37
nvidia-pyindex==1.0.9
openpyxl==3.1.2
pandas==2.0.1
pytorch-lightning==2.0.4
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.12.2
spacy==3.5.2
torch
torchaudio==*
torchdata==0.6.0
torchinfo==1.8.0
torchmetrics==0.11.4
torchsummary
torchtext
torchvision
tqdm==4.64.1
transformers==4.44.0